.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background: var(--ifm-background-color);
}

.featureImage {
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.featureImage:hover {
  transform: translateY(-5px);
}